<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseConfiguration" type="Infrastructure.DatabaseConfiguration, Infrastructure"/>
		</configSections>
	<DatabaseConfiguration connectionString="Data Source=DESKTOP;Initial Catalog=BetAgency;Integrated Security=SSPI;Trust Server Certificate=true;"/>
</configuration>	
	
