<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="SimpleConfigurationSection" type="ConfigFile.Configs.SimpleConfiguration, ConfigFile"/>
		<section name="ComplexConfigurationSection" type="ConfigFile.Configs.ComplexConfiguration, ConfigFile"/>
		<section name="ExtremeConfigurationSection" type="ConfigFile.Configs.ExtremeComplexConfiguration, ConfigFile"/>
	</configSections>
	
	<SimpleConfigurationSection 
		connectionString="Data Source=SomeServer; Initial Catalog=SomeDb; Integrated Security=true"
		pageSize="10"/>
	
	<ComplexConfigurationSection>
		<ComplexConfigurations>
			<add name="someshit"
				 doom="1"
				 />
			<add name="someshit2"
				 doom="2"
				 />
		</ComplexConfigurations>
	</ComplexConfigurationSection>
	
	<ExtremeConfigurationSection>
		<ExtremeConfigurationSections>
			<add name="someshit"
				 doom="1"
				 />
			<queue
				pass="1"
				fire="yes"
					 />
			<exchange 
				id="10"
				room="11"
					  />

		</ExtremeConfigurationSections>
		
	</ExtremeConfigurationSection>	
</configuration>
