<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseConfigurationSection" type="Infrastrutcture.DataBaseConfiguration, Infrastrutcture"/>			
	</configSections>

	<DatabaseConfigurationSection
		connectionString="Data Source=DESKTOP;Initial Catalog=MyStudentDb;Integrated Security=true;Encrypt=false"/>
</configuration>
