<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseConfiguration" type="Infrastructure.DatabaseConfiguration, Infrastructure"/>
		</configSections>
	
<DatabaseConfiguration
	connectionString="DataSource=DESKTOP;DataBase=MoviesProject;Integrated Security=SSPI;Encrypt=true;"/>
</configuration>