<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="FirstConfigurationSection" type="ConfigurationFile.FirstConfiguration, ConfigurationFile"/>	
	</configSections>

	<FirstConfigurationSection>
		<FirstConfigurations>
			<add id="10"
				 name="John">
				<address
					StreetNumber="10"
					RoomNumber="15"
					 />
			</add>
		</FirstConfigurations>

	</FirstConfigurationSection>
	
	

</configuration>
