<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseConfigurationSection" type="Infrastructure.DatabaseConfiguration, Infrastructure"/>				
		</configSections>
	<DatabaseConfigurationSection
		connectionString="Data Source=DESKTOP;Database=NewLibrary;Integrated Security=SSPI;Trust Server Certificate=True;"/>
	</configuration>
